{% extends "base.html" %}

{% block title %}
  Мои добовления
{% endblock title %}

{% block content %}

  <div class="card-columns">
  {% for picture in my_picture_list %}
    <div class="card" style="width: 18rem;">
      <img src="{{ picture.small_picture.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text"><a href="{% url 'picture_detail' pk=picture.pk %}">{{ picture.title }}</a></p>
      {% if request.user == picture.user %}
        <a href="{% url 'picture_update' pk=picture.pk %}">Изменить картинку</a>
        <br><a href="{% url 'picture_delete' pk=picture.pk %}">Удалить картинку</a>
      {% endif %}
      </div>
    </div>
  {% endfor %}
  </div>

  <br><a href="{% url 'picture_new' %}"><button class="btn btn-primary mb-2">Добавить картинку</button></a>

{% endblock %}
