{% extends "base.html" %}

{% block title %}
  Картинки
{% endblock title %}

{% block content %}

  <div class="card-columns">
  {% for picture in picture_list %}
    <div class="card" style="width: 18rem;">
      <img src="{{ picture.small_picture.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text"><a href="{% url 'picture_detail' pk=picture.pk %}">{{ picture.title }}</a></p>
        <p class="card-text"><a href="{{ picture.picture.url }}">Скачать</a></p>
        <p class="card-text"><small class="text-muted">{{ picture.created_date }}</small></p>
      </div>
    </div>
  {% endfor %}
  </div>

{% endblock %}
